$primary: #1624be;
$secondary: #02007c;
$tertiary: #2c48ff;

$black: #001A4D;
$white: #fff;

$dark-gray: #303a50;
$mid-gray-1: #60759f;
$mid-gray-2: #afbacf;
$mid-gray-3: #cfd6e2;
$light-gray-1: #eef1f5;
$light-gray-2: #f9f9fb;

$text-black: #001A4D;