$font-jp-regular: 'TsukuGoPr5-R', sans-serif;
$font-jp-bold: 'TsukuGoPro-B', sans-serif;

$font-en-light: 'FuturaLTPro-Light', sans-serif;
$font-en-normal: 'FuturaLTPro-Medium', sans-serif;
$font-en-bold: 'FuturaLTPro-Bold', sans-serif;
