$font-jp-light: 'TsukuGoPr5-L';
$font-jp-regular: 'TsukuGoPr5-R';
$font-jp-bold: 'TsukuGoPr5-D';

$font-en-light: 'FuturaLTPro-Light';
$font-en-normal: 'FuturaLTPro-Medium';
$font-en-bold: 'FuturaLTPro-Bold';
