@mixin linkList {
  .c-footer-list {
    list-style: none;
    padding-left: 14px;
  
    &__item {
      position: relative;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 1rem;
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
      &:before {
        position: absolute;
        top: 50%;
        left: -20px;
        content: '';
        display: block;
        color: #fff;
        width: 10px;
        height: 1px;
        background: $mid-gray-2;
        transition: $soease;
        transform: scaleX(0);
        transform-origin: left center;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: right center;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: -20px;
        content: '';
        display: block;
        color: #fff;
        width: 10px;
        height: 1px;
        background: $mid-gray-2;
        transition: $soease;
        opacity: 0.5;
      }
    } //&__list-item
  
    &__link {
      text-decoration: none;
      color: $white;
      transition: $soease;
      display: block;
      font-family: $font-jp-regular;
      &:hover {
        color: $mid-gray-2;
        margin-left: 2px;
      }
    }
  } // c-footer-list
}

@mixin SectionTitle {
  .content-section-title {
    color: $secondary;
    font-size: 3.5rem;
    font-family: $font-en-normal;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 64px;
    position: relative;
    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
    }
    span {
      display: block;
      font-size: 1rem;
      margin-top: 8px;
      font-family: $font-jp-bold;
    }
    .title-bottom-line {
      border: 0;
      display: block;
      width: 0;
      height: 1px;
      background-color: $secondary;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: -24px;
    }
  }
}