@mixin linkList {
  .c-footer-list {
    list-style: none;
    padding-left: 14px;
    margin-bottom: 24px;
  
    &__item {
      position: relative;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 1rem;
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        margin-bottom: 8px;
      }
      &:before {
        position: absolute;
        top: 50%;
        left: -20px;
        content: '';
        display: block;
        color: #fff;
        width: 10px;
        height: 1px;
        background: $mid-gray-2;
        transition: $soease;
        transform: scaleX(0);
        transform-origin: left center;
      }
      &:hover::before {
        transform: scaleX(1);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: -20px;
        content: '';
        display: block;
        color: #fff;
        width: 10px;
        height: 1px;
        background: $mid-gray-2;
        transition: $soease;
        opacity: 0.5;
      }
    } //&__list-item
  
    &__link {
      text-decoration: none;
      color: $white;
      transition: $soease;
      display: block;
      font-family: $font-jp-regular;
      padding-right: 24px;
      &:hover {
        color: $mid-gray-2;
        margin-left: 4px;
      }
    }
  } // c-footer-list
}

@mixin SectionTitle {
  .content-section-title {
    color: $secondary;
    font-size: 3.5rem;
    font-family: $font-en-normal;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 64px;
    position: relative;
    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 40px;
      margin-bottom: 32px;
    }
    span {
      display: block;
      font-size: 1rem;
      margin-top: 8px;
      font-family: $font-jp-bold;
    }
    .title-bottom-line {
      border: 0;
      display: block;
      width: 0;
      height: 1px;
      background-color: $secondary;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: -24px;
    }
  }
}

// 記事詳細ページの共通設定
@mixin PostDetails {

  .v-content {
    background:
    url('../assets/images/bg/so-blue-texture.png'),
      linear-gradient(272.99deg, #2C48FF -0.06%, #02007C 100.25%);
      background-size: 70%, auto;
    position: relative;
    overflow: hidden;
  }

  .v-content__wrap {
    padding-top: 120px;
    background: url('../assets/images/privacy-policy-header-bg-img.svg') no-repeat;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
      background: url('../assets/images/privacy-policy-header-bg-img.svg') no-repeat;
    }
  }

  // カテゴリータイトル
  .category-title {
    font-size: 200px;
    color: $white;
    font-family: $font-en-normal;
    position: absolute;
    z-index: 0;
    line-height: 1;
    margin-bottom: 8px;
    padding: 0;
    background:
      linear-gradient(180deg, #02007C 0%, rgba(2, 0, 124, 0) 100%);
    background-clip: text; //テキストでくり抜く
    -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
    @include media-breakpoint-down(md) {
      font-size: 96px;
    }
  }

  // 投稿タイトル、タグ、日付
  .post-header {
    padding-top: 120px;
    position: relative;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
    }
    .post-title {
      font-family: $font-jp-bold;
      display: block;
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 24px;
      // text-align: justify;
      letter-spacing: -0.01em;
      // word-break: break-all;
      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    .post-tag-container {
      display: flex;
      flex-wrap: wrap;
      .post-date {
        font-size: 12px;
        opacity: 0.7;
        padding: 4px 24px 4px 0px;
        letter-spacing: 1px;
      }
      .post-tags {
        display: flex;
        span {
          display: block;
          padding: 4px 12px 4px 20px;
          background: $tertiary;
          margin: 0 8px 8px ;
          border-radius: 200px;
          font-size: 12px;
          position: relative;
          letter-spacing: 1px;
          font-family: $font-en-normal, $font-jp-regular;
          &::before {
            content: '#';
            position: absolute;
            opacity: 0.5;
            left: 8px;
            top: 4px;
          }
        }
      }
    }
  }

  .post-article-container {
    position: relative;
    background: #fff;
    border-radius: 6px;
    padding: 72px 120px;
    margin-bottom: 64px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.08);
    @include media-breakpoint-down(md) {
      padding: 36px 64px;
      margin-bottom: 120px;
    }
    @include media-breakpoint-down(sm) {
      padding: 24px 16px;
    }
    .post-article-main-img {
      max-width: 100%;
      width: 100% !important;
      height: auto;
      margin-bottom: 40px;
      border: 3px solid $light-gray-1;
      border-radius: 6px;
      // ワークスの場合のメインイメージ下調整
      &.post-works-img {
        margin-bottom: 16px;
      }
      @include media-breakpoint-down(md) {
        padding: 8px;
        border: 2px solid $light-gray-1;
        margin-bottom: 24px;
      }
    }
  }

  .post-article {
    color: $text-black;
    padding-bottom: 96px;
    margin-bottom: 32px;
    border-bottom: 1px solid $mid-gray-3;
    @include wordpress_article_style;
    @include media-breakpoint-down(sm) {
      padding-bottom: 48px;
      margin-bottom: 48px;
    }
  } // p-news-articles

  // 投稿者
  .post-author-container {
    color: $text-black;
    background: $light-gray-2;
    padding: 32px 24px;
    border-radius: 4px;
    position: relative;
    .post-author-text {
      border-left: 1px solid $mid-gray-3;
      margin-left: 64px;
      padding-left: 32px;
      @include media-breakpoint-down(sm) {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
        border-top: 1px solid $light-gray-1;
        margin-top: 8px;
        padding-top: 24px;
      }
    }
    // Written by
    .post-author-title {
      color: $mid-gray-2;
      font-size: 24px;
      font-family: $font-en-light;
      transform: rotate(90deg);
      transform-origin: left top;
      display: block;
      position: absolute;
      left: 64px;
      top: 32px;
      letter-spacing: 1px;
      @include media-breakpoint-down(sm) {
        position: relative;
        transform: none;
        transform-origin: initial;
        left: 0;
        top: 0;
        font-size: 24px;
      }
    }
    .role {
      color: $mid-gray-1;
      display: block;
      line-height: 3;
      font-size: 14px;
      font-family: $font-en-normal;
      letter-spacing: 2px;
    }
    .name-jp {
      color: $secondary;
      font-family: $font-jp-bold;
      display: block;
      line-height: 1;
      font-size: 24px;
      letter-spacing: 1px;
    }
    .name-en {
      color: $mid-gray-1;
      display: block;
      line-height: 2.6;
      font-size: 12px;
      font-family: $font-en-normal;
      letter-spacing: 2px;
    }
    .author-desc {
      font-size: 14px;
    }
    .author-sns {
      display: flex;
      padding: 0 0 8px 0;
      justify-content: flex-start;
      li {
        list-style: none;
        margin-right: 8px;
        a {
          display: block;
          text-decoration: none;
          transition: $soease;
          &.github i {
            color: #000;
          }
          &.facebook i {
            color:#1877F2;
          }
          &.twitter i {
            color: #1DA1F2;
          }
          :hover {
            margin-top: -2px;
            opacity: 0.8;
          }
        }
      }
    }
  }
  // 一覧に戻るリンク
  .post-archives-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-bottom: 160px;
    transition: $soease;
    font-family: $font-en-normal;
    letter-spacing: 4px;
    color: $mid-gray-3;
    align-items: center;
    .post-archives-link-text {
      margin-right: 16px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
} // PostDetails

@mixin PageHeader {
  // ページの見出し
  .page-header-container {
    overflow: hidden;
    max-height: 840px;
    position: relative;
    @include media-breakpoint-up(md) {
      max-height: 640px;
    }
    @include media-breakpoint-up(lg) {
      max-height: 840px;
    }
    // メインイメージ部分のコンテナ
    .page-header-container {
      z-index: 3;
      position: relative;
    }
    // メインイメージ部分
    .page-header-img-container {
      position: absolute;
      max-height: 840px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        max-height: 840px;
        height: 100%;
        width: 100%;
      }
    }
    // メインイメージ、ロゴ
    .page-header-logo {
      position: absolute;
      display: block;
      right: 0;
      width: 100%;
      height: auto;
      @include media-breakpoint-up(md) {
        width: auto;
        height: 100%;
      }
    }
    // メインイメージ、背景
    .page-header-main-bg {
      position: absolute;
      right: 0;
      display: block;
      mix-blend-mode: overlay;
      width: 100%;
      height: auto;
      @include media-breakpoint-up(md) {
        width: auto;
        height: 100%;
      }
    }
    // メインイメージ、粒子
    .page-header-main-particle {
      position: absolute;
      right: 0;
      display: block;
      width: 100%;
      height: auto;
      @include media-breakpoint-up(md) {
        width: auto;
        height: 100%;
      }
    }
    // スマホ時のロゴ
    .page-header-logo-sp {
      width: 100%;
      max-height: 812px;
      display: block;
      // margin-top: 48px;
      @include media-breakpoint-up(md) {
        max-height: 640px;
        // height: 50vh;
        right: 0;
        width: auto;
        margin-top: 0;
      }
      @include media-breakpoint-up(lg) {
        // height: 80vh;
        max-height: 840px;
      }
    }
    // ページタイトル
    .page-header-title {
      font-family: $font-en-normal;
      opacity: 0;
      line-height: 0.8;
      font-size: 2.4rem;
      margin-top: 120px;
      margin-bottom: 40;
      position: relative;
      padding: 16px 0;
      @include media-breakpoint-up(lg) {
        font-size: 6rem;
        margin-top: 180px;
        margin-bottom: 64px;
      }
    }
    // 日本語のタイトル
    .page-header-title-jp {
      display: block;
      font-family: $font-jp-bold;
      font-size: 12px;
      margin: 16px 0 24px 0;
      opacity: 0;
      margin-left: 0;
      line-height: 1.3;
      @include media-breakpoint-up(md) {
        margin-top: 16px;
        font-size: 16px;
      }
    }

    // タイトル下文章の見出し
    .page-header-copy {
      font-family: $font-jp-bold;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 24px;
      opacity: 0;
      display: block;
      overflow: hidden;
      @include media-breakpoint-up(lg) {
        font-size: 2.1rem;
      }
    }
    // タイトル下文章
    .page-header-text {
      font-family: $font-jp-regular;
      line-height: 24px;
      margin-bottom: 180px;
      font-size: 14px;
      overflow: hidden;
      opacity: 0;
      @include media-breakpoint-up(lg) {
        margin-bottom: 204px;
        line-height: 32px;
        font-size: 16px;
      }
    }
  }

  .page-title-anim-bg {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
}

// Contact Form 
@mixin ContactForm {
  .contact-desc-text {
    color: $text-black;
  }
  .p-top-contact {
    &--container {
      padding-bottom: 160px;
    }
    
    &--form {
      .v-text-field {
        padding-top: 0px;
        margin-top: 0px;
        @include media-breakpoint-up(sm) {
          padding-top: 16px;
          margin-top: 0px;
        }
        &:not(.v-textarea) {
          .v-input__slot {
            
            background-color: $light-gray-1 !important;
            border-width: 1px !important;
            // & > .v-text-field__slot {
             
            // }
            // & > fieldset {
             
            // }
          }
        }
        &:not(.v-input--is-focused, .primary--text, .error--text) {
          .v-input__slot {
            border: none !important;
            border-radius: 3px;
            &::after {
              display: none;
            }
            // & > fieldset {
              // border: solid 1px $light-gray-1 !important;
            // }
          }
        }
      }
      .v-textarea {
        .v-input__slot {
          background-color: $light-gray-1 !important;
          border-radius: 3px;
          & > fieldset {
            border-width: 1px !important;
          }
          & > .v-text-field__slot textarea {
            color: $text-black;
            padding: 24px 16px;
            border-radius: 3px;
            border: 1px $light-gray-1 solid;
            transition: $soease;
            &:focus {
              border: 1px $tertiary solid;
            }
          }
        }
      }

      .v-input.v-text-field input[type='text'] {
        padding: 24px 16px;
        color: $text-black;
        border-radius: 3px;
        transition: $soease;
        border: 1px $light-gray-1 solid;
        &:focus {
          border: 1px $tertiary solid;
        }
      }
    }
  }
  .p-top-contact--check {
    .v-icon {
      color: rgba($mid-gray-3, 0.4);
    }
  }

  .p-top-contact--check-label {
    font-family: $font-jp-regular;
    color: $secondary;
    display: block;
    // margin: 16px 0;
  }

  .p-top-contact--note {
    padding-top: 28px;
    border-top: 1px solid $light-gray-1;
    color: $secondary;
    font-family: $font-jp-regular;
    font-size: 1rem;
    line-height: 1.6 !important;
    a {
      text-decoration: none;
      color: $tertiary;
      font-family: $font-jp-bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .v-form label.v-label {
    color: $secondary !important;
  }
  .v-form {
    background-color: $white;
    padding: 36px 24px;
    border-radius: 6px;
    box-shadow: 8px 24px 50px rgba(207, 214, 226, 0.6);
    
    @include media-breakpoint-up(md) {
      padding: 48px 40px;
    }
    @include media-breakpoint-up(lg) {
      padding: 72px 80px;
    }
  }
  .v-input__slot {
    border-radius: 6px;
    background-color: $light-gray-1;
  }
  .v-input__slot:before {
    display: none;
  }

  // 項目名
  .v-subheader {
    color: $secondary !important;
    font-size: 1rem;
    font-family: $font-jp-bold;
    align-items: baseline;
    padding-left: 0;
    padding-top: 16px;
    height: 100%;
    margin-bottom: 8px;
    line-height: 1.4;
    small {
      font-size: 14px;
      font-family: $font-jp-regular;
    }
    .asterisk {
      color: $tertiary;
      display: inline;
      margin-left: 3px;
    }
  }

  .error-text-red {
    color: red;
  }

  .v-btn {
    font-family: $font-jp-bold;
    background-color: $tertiary;
    border-radius: 3px;
    padding: 16px 40px;
    height: auto;
    font-size: 14px;
  }
  .v-text-field__details {
    display: none !important;
  }
}
