@mixin wordpress_article_style {
   // 記事内画像
  /deep/ .wp-block-image {
    img {
      max-width: 100%;
      width: 100% !important;
      height: auto;
      margin: 16px 0 32px 0;
      border: 3px solid $light-gray-1;
      border-radius: 6px;
      @include media-breakpoint-down(md) {
        border: 2px solid $light-gray-1;
        margin: 8px 0 16px 0;
      }
    }
    figcaption {
      font-size: 12px;
      text-align: left;
      margin: -24px 0 48px 0;
      color: $mid-gray-1;
    }
    img + img {
      margin-bottom: 16px;
    }
  }
  // 画像が連続した場合はマージンを少なくする
  /deep/ .wp-block-image + .wp-block-image {
    img {
      margin: 8px 0 16px 0;
    }
  }
  
  // 本文
  /deep/ p {
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 18px;
    font-family: $font-jp-regular;
    text-align: justify;
    letter-spacing: -0.005em;
  }

  // 太字
  /deep/ b {
    font-family: $font-jp-bold;
    color: $secondary;
  }
  /deep/ strong {
    font-family: $font-jp-bold;
    color: $secondary;
  }

  // ボーダー
  /deep/ hr {
    margin: 16px 0;
    border: 0;
    border-bottom: 1px solid $mid-gray-3;
  }

  // スライド埋め込み
  /deep/ .wp-block-embed {
    margin-bottom: 24px;
  }

  /deep/ .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
   }

  /deep/ .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  // 見出し共通スタイル
  /deep/ h1,
  /deep/ h2,
  /deep/ h3,
  /deep/ h4,
  /deep/ h5,
  /deep/ h6 {
    font-family: $font-jp-bold;
    color: $secondary;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  /deep/ h1 {
    position: relative;
    font-size: 1.5rem;
    font-family: $font-jp-bold;
    line-height: 30px;
    word-break: break-all;
    // margin: 12px 0 36px;
    @include media-breakpoint-up(md) {
      margin: 24px 0 44px;
      font-size: 2rem;
      line-height: 52px;
    }
  }

  /deep/ h2 {
    position: relative;
    font-family: $font-jp-bold;
    font-size: 32px;
    line-height: 42px;
    margin: 128px 0 64px 0;
    word-break: break-all;
    @include media-breakpoint-down(md) {
      margin: 64px 0 32px 0;
      font-size: 24px;
      line-height: 32px;
    }
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background: $primary;
      position: absolute;
      bottom: -8px;
      left: 0px;
      z-index: 1;
      @include media-breakpoint-up(md) {
        width: 80px;
        bottom: -16px;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 100% !important;
      height: 1px;
      background: $mid-gray-3;
      position: absolute;
      bottom: -8px;
      left: 0px;
      z-index: 1;
      @include media-breakpoint-up(md) {
        width: 80px;
        bottom: -16px;
      }
    }
  } // h2

  /deep/ h3 {
    font-size: 24px;
    margin: 64px 0 16px 0;
    padding-left: 40px;
    position: relative;
    line-height: 1.3;
    @include media-breakpoint-down(md) {
      font-size: 20px;
      line-height: 24px;
    }
    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 1px;
      background: $primary;
      position: absolute;
      top: 50%;
      left: 0px;
      z-index: 1;
    }
    @include media-breakpoint-up(md) {
      margin-top: 56px;
    }
  }

  /deep/ h4 {
    font-family: $font-jp-bold;
    font-size: 18px;
    margin: 32px 0 12px 0;
    line-height: 1.4;
    color: $text-black;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  // リスト
  /deep/ ul {
    list-style: none;
    margin-bottom: 32px;
    padding: 16px 24px;
    li {
      position: relative;
      line-height: 1.6;
      font-family: $font-jp-bold;
      margin-bottom: 8px;
      &:before {
        display: block;
        content: '・';
        margin-left: -1rem;
        position: absolute;
        left: -8px;
        top: -8px;
        color: $mid-gray-1;
        font-size: 26px;
      }
      // リストの項目内容
      p {
        display: inline-block;
        width: auto;
        margin-bottom: 1rem;
      }
    } //li
  } // ul

  // 数字リスト
  /deep/ ol {
    margin-bottom: 32px;
    padding: 16px 24px;
    li {
      position: relative;
      line-height: 1.6;
      font-family: $font-jp-bold;
      margin-bottom: 8px;
      &::marker {
        display: block;
        // content: '・';
        // margin-left: -1rem;
        position: absolute;
        left: 0;
        // top: -8px;
        color: $mid-gray-1;
        font-size: 24px;
        font-family: $font-en-bold;
      }
      // リストの項目内容
      p {
        display: inline-block;
        width: auto;
        margin-bottom: 1rem;
      }
    } //li
  } // ul

  /deep/ ul + ul {
    margin-top: -32px;
    margin-bottom: 16px;
  }

  // 引用
  /deep/ blockquote {
    background: $light-gray-1;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
    border-radius: 6px;
    padding: 24px 32px;
    p {
      line-height: 1.5;
      font-size: 14px;
      margin-bottom: 24px;
      strong {
        color: $secondary;
      }
    }
  }
  // テーブル
  /deep/ .wp-block-table {
    padding: 48px 0;
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      word-wrap: break-word;
    }
    
    table th {
      background-color: $light-gray-1;
    }

    table tr {
      border-bottom: solid 1px #eee;
      // cursor: pointer;
    }

    table th, table td{
      font-size: 14px;
      text-align: left;
      word-break: break-all;
      padding: 2%;
    }
  }
  // コード
  /deep/ pre[class*="language-"] {
    margin: 1rem 0;
  }
  // リンク
  /deep/ a {
    text-decoration: underline;
    transition: $soease;
    color: $tertiary;
    font-family: $font-jp-bold;
    padding: 0 6px;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}